# 1. write a python program to find the first N prime numbers

In [2]:
#1. write a python program to find the first N prime numbers
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

def find_primes(N):
    primes = []
    num = 2
    while len(primes) < N:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes

N = int(input("Enter the value of N: "))
prime_numbers = find_primes(N)
print(f"The first {N} prime numbers are: {prime_numbers}")

Enter the value of N: 5
The first 5 prime numbers are: [2, 3, 5, 7, 11]

# 2. write the python code that calculate the salary of an employee. prompt the user to enter the basic salary, HRA, TA, and DA. Add these components to calculate the Gross salary. Also, deduct 10% of salary from the Gross salary to be paid as tax and display gross minus tax as net salary.

In [3]:


# Prompt the user to enter basic salary, HRA, TA, and DA
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

# Calculate Gross Salary
gross_salary = basic_salary + hra + ta + da

# Calculate Tax (10% of Gross Salary)
tax = 0.10 * gross_salary

# Calculate Net Salary (Gross Salary - Tax)
net_salary = gross_salary - tax

# Display Gross Salary, Tax, and Net Salary
print(f"Gross Salary: {gross_salary:.2f}")
print(f"Tax (10%): {tax:.2f}")
print(f"Net Salary: {net_salary:.2f}")

Enter Basic Salary: 30000
Enter HRA: 16000
Enter TA: 4000
Enter DA: 3000
Gross Salary: 53000.00
Tax (10%): 5300.00
Net Salary: 47700.00

# 3.write a python program to search for a string in the given list

In [ ]:

string_list = ["apple", "banana", "cherry", "date", "elderberry"]
search_string = input("Enter the string to search for: ")

# Initialize a flag to check if the string is found
found = False

# Iterate through the list and check for a match
for item in string_list:
    if search_string.lower() == item.lower():  # Case-insensitive comparison
        found = True
        break

# Check if the string was found or not
if found:
    print(f"'{search_string}' was found in the list.")
else:
    print(f"'{search_string}' was not found in the list.")

# 4. write a python function that accepts a string and calculates the number of upper-case letters and lower-case letters

In [2]:

def count_case_characters(input_string):
    # Initialize counters for upper and lower case letters
    upper_count = 0
    lower_count = 0
    
    # Iterate through each character in the input string
    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    
    return upper_count, lower_count

# Example usage:
input_str = input("Enter a string: ")
upper, lower = count_case_characters(input_str)

print(f"Number of upper-case letters: {upper}")
print(f"Number of lower-case letters: {lower}")

Enter a string: PravaLLika
Number of upper-case letters: 3
Number of lower-case letters: 7

# 5. write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [3]:

# Initialize variables to store the sums
sum_even = 0
sum_odd = 0

# Iterate through numbers from 12 to 37
for number in range(12, 38):
    if number % 2 == 0:  # Check if the number is even
        sum_even += number
    else:
        sum_odd += number

# Display the sums
print(f"Sum of even numbers between 12 and 37: {sum_even}")
print(f"Sum of odd numbers between 12 and 37: {sum_odd}")

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

# 6. write a python program to print table of any number

In [4]:

#Get the number for which you want to print the table
num = int(input("Enter a number: "))

# Print the table of the entered number
print(f"Table of {num}:")

for i in range(1, 11):
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number: 4
Table of 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

# 7. write a python program to sum the first 10 prime numbers.

In [5]:

def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

count = 0  # Initialize a counter for prime numbers
num = 2     # Start with the first prime number

prime_sum = 0  # Initialize the sum of prime numbers

while count < 10:
    if is_prime(num):
        prime_sum += num
        count += 1
    num += 1

print(f"The sum of the first 10 prime numbers is: {prime_sum}")

The sum of the first 10 prime numbers is: 129

# 8. write a python program to implement arithmetic operations using nested if statement.

In [1]:
def arithmetic_operations():

  print(" \n 1.Addition \n 2.Subtraction \n 3. Multiplication \n 4. Division")
  choice = input("enter your choice (1/2/3/4)\n")

  if choice in ('1','2','3','4'):
    number1 = float(input("enter number 1"))
    number2 = float(input("enter number 2"))

    if choice == '1':
        result = number1 + number2
        print("Result:", result)
    elif choice == '2':
        result = number1 - number2
        print("Result:", result)
    elif choice == '3':
        result = number1 * number2
        print("Result:", result)
    elif choice == '4':
        # Check for division by zero
        if number2 == 0:
            print("Division by zero is not allowed.")
        else:
            result = number1 / number2
            print("Result:", result)
    else:
        print("Invalid input. Please select a valid operation (1/2/3/4).")
arithmetic_operations()

 1.Addition
 2.Subtraction
 3. Multiplication
 4. Division
enter your choice (1/2/3/4)
2
enter number 14
enter number 21
Result: 3.0

# 9. write a python program to take the temperature in celsius and convert it to a fahrenheit.

In [1]:
def celsius_to_fahrenhit(celsius):
  equivalent_fahrenhit = (celsius * 9/5) + 32
  return equivalent_fahrenhit

celsius = float(input("enter tempearature in celsius \n"))
fahrenhit = celsius_to_fahrenhit(celsius)

print(f"Given celsuis {celsius} reading in fahrenhit is {fahrenhit}")

enter tempearature in celsius
56
Given celsuis 56.0 reading in fahrenhit is 132.8

# 10. write a python program to find a maximumand minimum number in a list without using an inbuilt function

In [2]:
def find_max_min_in_list(lst):

  max_element = min_element = lst[0]
  for element in lst:
    if(element > max_element):
      max_element = element
    else:
      min_element = element

  return max_element,min_element

user_input = input("Enter a list of numbers separated by spaces: ")
user_list = [int(x) for x in user_input.split()]

max_element,min_element = find_max_min_in_list(user_list)
print(f" the max element is {max_element}, minimum element is {min_element}")

Enter a list of numbers separated by spaces: 1 2 3 4 5
 the max element is 5, minimum element is 1

# 11. write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

In [3]:
n_days = 30
n_hours_per_day = 24
n_min_per_day = 60
n_sec_per_min = 60

num_sec_in_a_month = n_days*n_hours_per_day*n_min_per_day*n_sec_per_min
print(f"number of seconds in a 30_day month is", num_sec_in_a_month)

number of seconds in a 30_day month is 2592000

# 12. write a program in python to print out the number of seconds in a year

In [4]:
n_days = 30
n_hours_per_day = 24
n_min_per_day = 60
n_sec_per_min = 60

num_sec_in_a_month = n_days*n_hours_per_day*n_min_per_day*n_sec_per_min

year = int(input(" enter year "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    days_in_year = 366
else:
    days_in_year = 365

num_sec_in_an_year = days_in_year*n_hours_per_day*n_min_per_day*n_sec_per_min
print(f"number of seconds in an given year is {num_sec_in_an_year}")

 enter year 2001
number of seconds in an given year is 31536000

# 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from london to glassgow which is 414 miles away?

In [5]:
distance_miles = 414
average_speed_mph = 150


time_hours = distance_miles / average_speed_mph

# Convert the fractional part of hours to minutes
time_minutes = (time_hours - int(time_hours)) * 60

print(f"It will take {int(time_hours)} hours and {int(time_minutes)} minutes to travel from London to Glasgow at an average speed of {average_speed_mph} mph.")

It will take 2 hours and 45 minutes to travel from London to Glasgow at an average speed of 150 mph.

# 14. write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year=192

In [6]:
days_in_each_school_year = 192
hours_per_school_day = 6

total_hours = 0
for year in range(7, 12):
    total_hours += days_in_each_school_year * hours_per_school_day

print(f"Total hours spent in school from year 7 to year 11: {total_hours} hours")

Total hours spent in school from year 7 to year 11: 5760 hours

# 15. If the age of Ram, Sam and Khan are input through the keyboard, write a python program to determine the eldest and youngest
#of the three

In [7]:
ram_age = int(input("Enter the age of Ram: "))
sam_age = int(input("Enter the age of Sam: "))
khan_age = int(input("Enter the age of Khan: "))


if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
elif sam_age >= khan_age:
    eldest = "Sam"
else:
    eldest = "Khan"


if ram_age <= sam_age and ram_age <= khan_age:
    youngest = "Ram"
elif sam_age <= khan_age:
    youngest = "Sam"
else:
    youngest = "Khan"


print(f"The eldest among Ram, Sam, and Khan is {eldest}.")
print(f"The youngest among Ram, Sam, and Khan is {youngest}.")

Enter the age of Ram: 10
Enter the age of Sam: 12
Enter the age of Khan: 14
The eldest among Ram, Sam, and Khan is Khan.
The youngest among Ram, Sam, and Khan is Ram.

# 16. write a python program to rotate a list by right n times with and without slicing technique.

In [10]:
def rotate_right_with_slicing(lst, n):
    n = n % len(lst)
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

def rotate_right_without_slicing(lst, n):
    n = n % len(lst)
    rotated_list = [0] * len(lst)
    for i in range(len(lst)):
        rotated_list[(i + n) % len(lst)] = lst[i]
    return rotated_list


user_input = input("Enter a list of numbers separated by spaces: ")
user_list = [int(x) for x in user_input.split()]

n = int(input("specify number of times to rotate :"))

rotated_list = rotate_right_with_slicing(user_list, n)
print("Rotated list using slicing:", rotated_list)

rotated_list = rotate_right_without_slicing(user_list, n)
print("Rotated list without slicing:", rotated_list)

Enter a list of numbers separated by spaces: 8 7 6 9 3 2
specify number of times to rotate :1
Rotated list using slicing: [2, 8, 7, 6, 9, 3]
Rotated list without slicing: [2, 8, 7, 6, 9, 3]

# 17. Python program to print patterns given below

In [11]:
# First-pattern
from math import factorial
n = int(input("Enter the number of rows required : "))
for i in range(n):
    for j in range(n-i+1):
        print(end=" ")
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
    print()

Enter the number of rows required : 4
     1
    1 1
   1 2 1
  1 3 3 1

In [12]:
# Second-pattern
n = int(input("Enter the number of rows required : "))
print("\n")
for i in range(0, n):
    for j in range(0, i):
        print("* ", end="")
    print(" ")

Enter the number of rows required : 6



*
* *
* * *
* * * *
* * * * *

In [13]:
# Third-pattern
n = int(input("Enter number of rows: "))
for i in range(1, n+1):
  print (' ' * (n - i), '* ' * i)

Enter number of rows: 5
     *
    * *
   * * *
  * * * *
 * * * * *

In [2]:
# Fourth-pattern
str1 = input("Enter a title : ")
for i in range(len(str1)):
    print(str1[:i+1])

Enter a title : python
p
py
pyt
pyth
pytho
python