# MANIPULATE USING A LIST.

In [3]:
list = ['4','july',2001]
list

['4', 'july', 2001]

In [7]:
# 1. To add new elements to the end of the list
list.append('happy')
list

['4', 'july', 2001, 'happy']

In [10]:
list.append(['22','26'])
list

['4', 'july', 2001, 'happy', ['22', '26']]

In [28]:
# 2. To reverse elements of the list
my_list = [1,2,3,4,5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [30]:
# 3. To display the same list of elements multiple times
my_list = [1,2,3,4,5]
my_list = my_list*4
my_list

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [31]:
#4. To concatenate two list
list1 = [1,2,3]
list2 = [4,5,6]
my_list = list1 + list2
my_list

[1, 2, 3, 4, 5, 6]

In [33]:
#5. To sort the elements in the ascending order
my_list = [7,4,3,5,2,9,6]
my_list.sort()
my_list

[2, 3, 4, 5, 6, 7, 9]

# 2. write a python program to do in the tuples

In [ ]:
#1. manipulate using tuples

In [34]:
my_tuple = (4,5,6,1,2,3)
my_tuple

(4, 5, 6, 1, 2, 3)

In [42]:
tuple = my_tuple[4]
tuple

2

In [43]:
tuple = my_tuple[3:-1]
tuple

(1, 2)

In [50]:
#2. To add new elements to the end of the tuples
new_elements = (9,10)
tuple = my_tuple + new_elements
tuple

(4, 5, 6, 1, 2, 3, 9, 10)

In [54]:
#3. To reverse elements in the tuple
tuple = (1, 2, 3, 4, 5)
reversed_tuple = tuple[::-1]
reversed_tuple

(5, 4, 3, 2, 1)

In [55]:
#4. To display the elements of the same tuple multiple time
my_tuple = tuple*5
my_tuple

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [56]:
#5. To concatenate two tuples
tuple1 = (7,8,9)
tuple2 = (4,5,6)
tuple = tuple1 + tuple2
tuple

(7, 8, 9, 4, 5, 6)

In [70]:
#6. To sort the elements in the list in ascending order
original_tuple = (5, 2, 8, 1, 3)
sorted_tuple = sorted(original_tuple)
print(sorted_tuple)

[1, 2, 3, 5, 8]

# 3. write a python program to implement the following using list.

In [71]:
#1. create a list with integers(min 10 numbers)
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
#2. How to display the last number in the list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
last_number = my_list[-1]
print(last_number)

10

In [76]:
#3. command for displaying the values from the list[0:4]
subset = my_list[0:4]
print(subset)

[1, 2, 3, 4]

In [77]:
#4. command for displaying the values from the list[2:]
subset = my_list[2:]
print(subset)

[3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
#5. command for displaying the values from the list[:6]
subset = my_list[:6]

print(subset)

[1, 2, 3, 4, 5, 6]

# 4. write a python program tuple1 = (10,50,20,40,30)

In [1]:
#1. To display elements from 10 and 50 from tuples1
tuple1 = (10,50,20,40,30)
a = tuple1[0]
b = tuple1[1]
print(a,b)

10 50

In [3]:
#2. To display the length of a tuple1
length = len(tuple1)
length

5

In [4]:
#3. To find the minimum element from tuple1
min_element = min(tuple1)
min_element

10

In [5]:
#4. To add all elements in the tuple1
sum = sum(tuple1)
sum

150

In [7]:
#5. To display the same tuple1 multiple times
result = tuple1 * 2
result

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. write a python program

In [8]:
name = "pravallika"
name

'pravallika'

In [9]:
#1. To calculate the length of the string
length = len(name)
length

10

In [10]:
#2. To reverse words in a string
reverse = name[::-1]
reverse

'akillavarp'

In [11]:
#3. To display same string multiple times
result = name*5
result

'pravallikapravallikapravallikapravallikapravallika'

In [12]:
#4. To concatenate two strings
name1 = "kalimi"
concat = name+name1
concat

'pravallikakalimi'

In [13]:
#5. Str1 = "south india",using scilcing to display "india"
str1 = "south india"
str2 = str1[6:]
str2

'india'

# 6.Perform the following

In [1]:
#1. creating the dictionary
student = {'name' : 'pravallika', 'age' : '22', 'grade' : 'A+'}
student

{'name': 'pravallika', 'age': '22', 'grade': 'A+'}

In [ ]:
# 2. Accessing values and keys in the dictionary
age = student['age']
age

In [3]:
#3. updating the dictionary using a function
student.update(student)
student

{'name': 'pravallika', 'age': '22', 'grade': 'A+'}

In [7]:
#4. clear and delete the dictionary values
student = {'name' : 'pravallika', 'age' : '22', 'grade' : 'A+'}
del student['age']
print(student)
student.clear()
print(student)

{'name': 'pravallika', 'grade': 'A+'}
{}

# 7. python program to insert a number to any position in a list.

In [10]:
list=[1,2,3,4,5,6]
list.insert(3,8)
list

[1, 2, 3, 8, 4, 5, 6]

# 8.python program to delete an element from a list by index

In [15]:
list=[1,4,5,6,8]
list.pop(0)
list

[4, 5, 6, 8]

# 9.write a python program to display a number from 1 to 100

In [1]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.write a python program to find the sum of all items in a tuple

In [2]:
tuple=(4,5,6)
result=sum(tuple)
result

15

# 11.create a dictionary containing three lamda functions square, cube, square root

In [1]:
math_operations = {
    'square' : lambda x : x*2,
    'cube' : lambda x : x**3,
    'square_root': lambda x : x**0.5
}
number=6
print("square:", math_operations['square'](number))
print("cube:", math_operations['cube'](number))
print("square_root:", math_operations['square_root'](number))

square: 12
cube: 216
square_root: 2.449489742783178

# 12. list of the words are given. Find the words from the list that have there second character in uppercase

In [2]:
list=['hello', 'Dear', 'hOw', 'ARe', 'You']
result=[word for word in list if len(word)>1 and word[1].isupper()]
result

['hOw', 'ARe']

# 13. A dictonary of names and their weights on earth is given. Find how much they will weight on the moon. Formula:wMoon=(wEarth*GMoon)/GEarth

In [3]:
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
GMoon = 1.622
GEarth = 9.81
calculate_weight_on_moon = lambda weight : (weight*GMoon)/GEarth
weights_on_moon = map(calculate_weight_on_moon,WeightOnEarth.values())
weights_on_moon_dict=dict(zip(WeightOnEarth.keys(),weights_on_moon))
print(weights_on_moon_dict)

{'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704383}